name: Fetch Repodata
on:
  schedule:
  - cron: '0,15,30,45 * * * *'
  pull_request:

jobs:
  fetch:
    name: Fetch repodata
    runs-on: ubuntu-latest
    env:
      # NOTE: Incrememt VERSION_MAYOR when making mayor/incompatible changes,
      #       e.g., changing directory layout etc.
      VERSION_MAYOR: 1
      # NOTE: Incrememt VERSION_MINOR when causing diffs due to non-channel
      #       updates, e.g., adding/changing --trim-key or --subdir.
      VERSION_MINOR: 1
      # NOTE: Incrememt VERSION_CHANNELS when changing the list of channels.
      VERSION_CHANNELS: 1

    steps:
    - uses: actions/checkout@v2

    - name: Fetch
      run: |
        pip install ntplib requests urllib3
        ./fetch-repodata.py \
          --channel https://conda.anaconda.org/bioconda \
          --channel https://conda.anaconda.org/conda-forge \
          \
          --channel https://conda.anaconda.org/main \
          --channel https://conda.anaconda.org/msys2 \
          --channel https://conda.anaconda.org/free \
          --channel https://conda.anaconda.org/r \
          --channel https://conda.anaconda.org/anaconda \
          \
          --channel https://conda-static.anaconda.org/bioconda \
          --channel https://conda-static.anaconda.org/conda-forge \
          --channel https://conda-static.anaconda.org/main \
          --channel https://conda-static.anaconda.org/msys2 \
          \
          --channel https://conda-web.anaconda.org/bioconda \
          --channel https://conda-web.anaconda.org/conda-forge \
          --channel https://conda-web.anaconda.org/main \
          --channel https://conda-web.anaconda.org/msys2 \
          \
          --channel https://repo.anaconda.com/pkgs/main \
          --channel https://repo.anaconda.com/pkgs/free \
          --channel https://repo.anaconda.com/pkgs/r \
          --channel https://repo.anaconda.com/pkgs/msys2 \
          \
          --channel https://conda.anaconda.org/bioconda/label/main \
          --channel https://conda.anaconda.org/bioconda/label/broken \
          --channel https://conda.anaconda.org/conda-forge/label/main \
          --channel https://conda.anaconda.org/conda-forge/label/broken \
          ;

    - name: Add changes, commit and tag
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add -A ./repodata
        version="${{ env.VERSION_MAYOR }}.${{ env.VERSION_MINOR }}.${{ env.VERSION_CHANNELS }}"
        time="$( head -n1 ./repodata/.time )"
        git status
        git commit -m "repodata: ${time} version: ${version}"
        # Convert timestamp to version-like tags, e.g.,
        # VERSION_MAYOR=1 VERSION_MINOR=1 VERSION_CHANNELS=1 and time='2021-02-03T04:05:06+00:00
        # will result in tags
        # 1.1.1.2021.02.03.04.05.06 : most specific one
        # 1.1.1.2021.02.03          : tag first commit of day
        # 2021.02.03                : tag first commit of day, omit version for convenient usage
        date_tag="$( printf %s "${time}" | sed 's/T.*// ; s/-/./g' )"
        version_time_tag="${version}.$( printf %s "${time}" | sed 's/+.*// ; s/[-T:]/./g' )"
        version_date_tag="${version}.${date_tag}"
        git tag -- "${version_time_tag}"
        git tag -- "${version_date_tag}" || true
        git tag -- "${date_tag}" || true

        git tag | tail -n3

    - if: ${{ github.ref == 'refs/heads/main' }}
      name: Push changes
      run: git push --tags
